db.accdb.src/tbldefs/Orders.xml

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
  <xsd:element name="dataroot">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Orders" minOccurs="0" maxOccurs="unbounded"></xsd:element>
      </xsd:sequence>
      <xsd:attribute name="generated" type="xsd:dateTime"></xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Orders">
    <xsd:annotation>
      <xsd:appinfo>
        <od:index index-name="BandwidthUnitID" index-key="BandwidthUnitID " primary="no" unique="no" clustered="no" order="asc"></od:index>
        <od:index index-name="CarrierID" index-key="CarrierID " primary="no" unique="no" clustered="no" order="asc"></od:index>
        <od:index index-name="CarriersOrders" index-key="CarrierID " primary="no" unique="no" clustered="no" order="asc"></od:index>
        <od:index index-name="CustomerID" index-key="CustomerID " primary="no" unique="no" clustered="no" order="asc"></od:index>
        <od:index index-name="CustomersOrders" index-key="CustomerID " primary="no" unique="no" clustered="no" order="asc"></od:index>
        <od:index index-name="OrderID" index-key="OrderID " primary="no" unique="no" clustered="no" order="asc"></od:index>
        <od:index index-name="PrimaryKey" index-key="OrderID " primary="yes" unique="yes" clustered="no" order="asc"></od:index>
        <od:index index-name="StatusID" index-key="StatusID " primary="no" unique="no" clustered="no" order="asc"></od:index>
        <od:index index-name="StatusOrders" index-key="StatusID " primary="no" unique="no" clustered="no" order="asc"></od:index>
        <od:tableProperty name="Orientation" type="2" value="0"></od:tableProperty>
        <od:tableProperty name="OrderByOn" type="1" value="0"></od:tableProperty>
        <od:tableProperty name="DefaultView" type="2" value="2"></od:tableProperty>
        <od:tableProperty name="DisplayViewsOnSharePointSite" type="2" value="1"></od:tableProperty>
        <od:tableProperty name="TotalsRow" type="1" value="0"></od:tableProperty>
        <od:tableProperty name="FilterOnLoad" type="1" value="0"></od:tableProperty>
        <od:tableProperty name="OrderByOnLoad" type="1" value="1"></od:tableProperty>
        <od:tableProperty name="HideNewField" type="1" value="0"></od:tableProperty>
        <od:tableProperty name="BackTint" type="6" value="100"></od:tableProperty>
        <od:tableProperty name="BackShade" type="6" value="100"></od:tableProperty>
        <od:tableProperty name="ThemeFontIndex" type="4" value="1"></od:tableProperty>
        <od:tableProperty name="AlternateBackThemeColorIndex" type="4" value="1"></od:tableProperty>
        <od:tableProperty name="AlternateBackTint" type="6" value="100"></od:tableProperty>
        <od:tableProperty name="AlternateBackShade" type="6" value="95"></od:tableProperty>
        <od:tableProperty name="ReadOnlyWhenDisconnected" type="1" value="0"></od:tableProperty>
        <od:tableProperty name="DatasheetGridlinesThemeColorIndex" type="4" value="3"></od:tableProperty>
        <od:tableProperty name="DatasheetForeThemeColorIndex" type="4" value="0"></od:tableProperty>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="OrderID" minOccurs="1" od:jetType="autonumber" od:sqlSType="int" od:autoUnique="yes" od:nonNullable="yes" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ResultType" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="CustomerID" minOccurs="1" od:jetType="longinteger" od:sqlSType="int" od:nonNullable="yes" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ResultType" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="OrderTitle" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="IMEMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"></od:fieldProperty>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ResultType" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"></xsd:maxLength>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="StatusID" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ResultType" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="DateRequested" minOccurs="0" od:jetType="datetime" od:sqlSType="datetime" type="xsd:dateTime">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DefaultValue" type="12" value="=Date()"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="IMEMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ShowDatePicker" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ResultType" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="AnticipatedCloseDate" minOccurs="0" od:jetType="datetime" od:sqlSType="datetime" type="xsd:dateTime">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="IMEMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ShowDatePicker" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ResultType" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="DateOrdered" minOccurs="0" od:jetType="datetime" od:sqlSType="datetime" type="xsd:dateTime">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="IMEMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ShowDatePicker" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ResultType" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="CarrierID" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ResultType" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="Term" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ResultType" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="SuccessProbability" minOccurs="0" od:jetType="double" od:sqlSType="float" type="xsd:double">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"></od:fieldProperty>
              <od:fieldProperty name="DefaultValue" type="12" value="0.5"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ResultType" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="Bandwidth" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ResultType" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="BandwidthUnitID" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ResultType" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="ServiceLocation" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="IMEMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"></od:fieldProperty>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ResultType" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"></xsd:maxLength>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="LocalContact" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Description" type="10" value="Local Conact"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="IMEMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"></od:fieldProperty>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ResultType" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"></xsd:maxLength>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="MRC" minOccurs="0" od:jetType="currency" od:sqlSType="money" type="xsd:double">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Description" type="10" value="Monthly Recurring Cost"></od:fieldProperty>
              <od:fieldProperty name="Format" type="10" value="$#,##0.00;($#,##0.00)"></od:fieldProperty>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"></od:fieldProperty>
              <od:fieldProperty name="DefaultValue" type="12" value="0"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ResultType" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="1033"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="NRC" minOccurs="0" od:jetType="currency" od:sqlSType="money" type="xsd:double">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Description" type="10" value="Non recurring cost (one time - ex installation fee)"></od:fieldProperty>
              <od:fieldProperty name="Format" type="10" value="$#,##0.00;($#,##0.00)"></od:fieldProperty>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"></od:fieldProperty>
              <od:fieldProperty name="DefaultValue" type="12" value="0"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ResultType" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="1033"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="HandOff" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Description" type="10" value="MMF, SMF, Ethernet"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="IMEMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"></od:fieldProperty>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ResultType" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"></xsd:maxLength>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="OrderNotes" minOccurs="0" od:jetType="memo" od:sqlSType="ntext">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="IMEMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"></od:fieldProperty>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="TextFormat" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AppendOnly" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ResultType" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="536870910"></xsd:maxLength>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
